service: my-lambda-service

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

functions:
  hello:
    handler: handler.app
    events:
      - http:
          path: /
          method: get
